@import url("style.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

/* .fa.fa-inr {
    color: var(--primary-color);
} */

/* members-benefits */
.members-benefits {
    padding: 40px 0;
}
.members-benefits table th,
.members-registration table th {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: bold;
}
.members-benefits table i {
    color: var(--primary-color);
}

/* members-registration css */
.members-registration {
    padding: 40px 0;
}
.members-registration .alert.alert-success p {
    margin-bottom: 0;
}



/* why-deal */
.why-deal p, .rwf-member p {
    margin-bottom: 6px;
}

/* RWF Member */
.rwf-member {
    
}

/* tearms and condition & privacy policy */ 
.terms-conditions .terms-box,
.privacy-policy .privacy-box{
    background: var(--third-color);
    padding: 15px 20px 2px;
    margin-bottom: 15px;
}
.terms-conditions .terms-box h5,
.privacy-policy .privacy-box h5 {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
}

/* tearms and condition & privacy policy */

/* vision css */
.vision-container {
    background-color: var(--third-color);
    padding: 20px 10px 5px 0px;
}

.vision-container li h3{
    font-family: "Outfit", sans-serif;
}
